

      body {
      	margin: 0; height: 100%; width: 100%;// overflow: hidden
      }
      @media (min-width: 1200px) {
        body {
        }
      }




			#pic_section {
				height: 100%;
				border-right: .3em dotted black;
			}
			h1 {
    			text-align: center;
			}
			#mybuttons {
				margin: 1em;
			}
			
			#myresponse {
				text-align: center;
				background-color: LightSmoke;
  				/*line-height: 200px;*/
  			   	border: dotted black 1px;

			}
			#dbpic {
				width: 100%;
			}

			
			.helper {
				 display: inline-block;
  				vertical-align: middle;
  				line-height: normal;
			}
			.tooltip_templates { display: none; }
			
.contactus {
	height: 30em;
}
/**
 * 	tags
 */
.tags {
		margin: .3em;
	color: blue;
	font-weight: bold;
	padding: .1em;
}

#myselectedtags span.tags {
	color: green;
}
#res_has_tags {
	padding: 1em;
}

/**
 * 	checkboxes
 */
.custom-control-label {
	padding-left: 5em;
	padding-top: 1em;
	font-size: 1.em;
}
.custom-control {
	padding-bottom: 1.5em;
}

.custom-control-label::before, 
.custom-control-label::after {
	top: .2rem;
	width: 3.0rem;
	height: 3.0rem;
}

/**
 * 	sliders
 */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slidecontainer {
	width: 100%;
	height: 6.5em;
}


span[id$="display"] {
	padding-left: 50%;
	display: block;
	margin: 1em;
	  font-weight: bold;
}


/**
 * 	user information 
 */
.user_info {
  	width: 20%;
  	position: absolute;
  	left: 5%;
  	top: 90%;
  }
.current_user {
	  	font-weight: bold;
}  
